In [1]:
# Question number 1

In [2]:
marks = int(input("Enter your marks"))
if marks > 90 :
    print("Your grade is A")
elif  marks >80 and marks <= 90 :
    print("Your grade is B")
elif  marks >=60 and marks <= 80 :
    print("Your grade is C")
else :
    print("Your grade is D")

Enter your marks 56

Your grade is D

In [3]:
# Question number 2

In [4]:
cost_price = int(input("Enter the price"))
if cost_price > 100000 :
    print("Road tax have to pay 15%")
elif cost_price > 50000 and cost_price <= 100000 :
    print("Road tax have to pay 10%")
else :
     print("Road tax have to pay 5%")

Enter the price 70000

Road tax have to pay 10%

In [5]:
# Question number 3

In [6]:
city = input("Enter the name") # city first letter must be capital
if city == "Delhi" :
    print("Red Fort")
elif city == "Agra" :
    print("Taj Mahal")
elif city == "Jaipur" :
    print("Jal Mahal") 
else :
    print("Hello Everyone")

Enter the name Delhi

Red Fort

In [7]:
#Question number 4
number = int(input("Enter the number"))
if number/3 == y :
    x = y-3
    print(x)
else :
    print("Nothing")

Enter the number 6

NameError: name 'y' is not defined

In [ ]:
#Question number 5

In [ ]:
#loop runs untill the condition is being met
#loop runs untill the condition is true
# lets understand it by an example of table 
n = int(input("Enter the number"))
i = 1
while i <= 10 :
    result = n*i
    print(n, "*", i, "=", result)
    i = i + 1

In [ ]:
#Question number 6

In [ ]:
# First pattern printing
n = int(input("Enter the number of rows"))
i = 1

while i <= n :
    j = 1
    while j <= i :
        print("*", end = " ")
        j = j + 1
    print()
    i = i +1

In [ ]:
# second pattern printing
n = int(input("Enter the number of rows"))
i = 1

while i <= n :
    j = n
    while j >= i :
        print("*", end = " ")
        j = j - 1
    print()
    i = i +1

In [8]:
# Question no 7 and 8
n = 10
i = 1
while i <= n :
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Question no 7 and 8
n = 1
i = 10
while i >= n :
    print(i)
    i = i + 1